*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url('bgMobile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: rgba(29, 104, 169, 0);
}

nav ul{
   display: flex;
   list-style-type: none;
   height: 60px;
   font-weight: bold;
   align-items: center;
   margin-left: 20px;
}

.logo{
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
}

.headText{
    color: aliceblue;
    font-size: xx-large;
    margin-left: 10px;
   font-family: monospace;
}

.signup{
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 50px;
    top: 10px;
    cursor: pointer;
}

.HelloText{
    font-size: 120px;
    color: rgb(240, 248, 255);
    padding-left: 30px;
    margin-top: 50px;
}
.avinText{
    color: rgb(240, 248, 255);
    font-size: 120px;
    padding-left: 30px;
    font-weight: bolder;
    
}

footer{
    background-color: rgba(0, 15, 227, 0.119);
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 80px;
}

footer ul{
    display: flex;
   list-style-type: none;
   height: 60px;
   font-weight: bold;
   align-items: center;
   margin-left: 20px;   
   justify-content: center;
}
footer ul li{
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.footer-List{
    align-content: center;
    padding: 10px;
    cursor: pointer;
    height: 10px;
    width: 10px;
}
.icons{
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    display: block;
}
.icons.github{
    height: 32px;
    width: 32px;
    position:absolute;
    display: flex;
    top: 37px;
}

.followMe{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   top: 30px;
   left: 20px;
    position: absolute;
}
#toggle-button{
   height: 30px;
   width: 30px;
   position: absolute;
   top: 13px;
   right: 10px;  
   
}

.toggle-menu-items{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (min-width: 550px) {
   
   
   
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        background-image: url('webBg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    nav{
        background-color: rgba(18, 123, 215, 0);
    }
    
    nav ul{
       display: flex;
       list-style-type: none;
       height: 60px;
       font-weight: bold;
       align-items: center;
       margin-left: 20px;
    }
    
    .logo{
        display: flex;
        align-items: center;
        height: 50px;
        width: 50px;
    }
    
    .headText{
        color: aliceblue;
        font-size: xx-large;
        margin-left: 10px;
       font-family: monospace;
    }
    
    .menu{
       
        width: 100%;
        background-color: rgb(48, 141, 222);
    }
    .menu-List{
        color: aliceblue;
        align-content: center;
        padding: 10px;
        position: relative;
        cursor: pointer;
        
    }
    
    .menu-ul{
        position: relative;
        text-align: center;
        display: inline-flex;
        padding-left: 365px;
        
    }
    
    .signup{
        display: flex;
        align-items: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    
    .HelloText{
        font-size: 200px;
        color: rgb(240, 248, 255);
        padding-left: 50px;
    }
    .avinText{
        color: rgb(240, 248, 255);
        font-size: 180px;
        padding-left: 50px;
        font-weight: bolder;
        
    }
    
    footer{
        background-color: rgba(0, 17, 255, 0.123);
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 80px;
    }
    
    footer ul{
        display: flex;
       list-style-type: none;
       height: 60px;
       font-weight: bold;
       align-items: center;
       margin-left: 20px;   
       justify-content: center;
    }
    footer ul li{
        padding: 20px;
        align-items: center;
        justify-content: center;
    
    }
    
    .footer-List{
        align-content: center;
        padding: 10px;
        cursor: pointer;
        height: 10px;
        width: 10px;
    }
    .icons{
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
        display: block;
    }
    .icons.github{
        height: 32px;
        width: 32px;
        position:absolute;
        display: flex;
        top: 37px;
    }
    
    .followMe{
        color: aliceblue;
        text-align: center;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       top: 30px;
       left: 20px;
        position: absolute;
    }
    .toggle-button-class{
        display: none;
    }
   
  }