*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url('bgMobile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color:  rgba(82, 252, 167, 0.119);
}

nav ul{
   display: flex;
   list-style-type: none;
   height: 60px;
   
   font-weight: bold;
   align-items: center;
   margin-left: 20px;
   
}


.logo{
    display: flex;
    align-items: center;
    height: 40px;
    width: 45px;
    padding-bottom: 5px;
}

.headText{
    color: aliceblue;
    font-size: xx-large;
    margin-left: 10px;
    
}

.signup{
    display: flex;
    align-items: center;
    height: 35px;
    width: 38px;
    position: absolute;
    right: 50px;
    top: 10px;
    cursor: pointer;
}

.HelloText{
    font-size: 100px;
    color: rgb(240, 248, 255);
    padding-left: 20px;
    margin-top: 50px;
    font-weight: 900;
    
    
}
.avinText{
    color: rgb(240, 248, 255);
    font-size: 90px;
    padding-left: 20px;
    font-weight: bolder;

    
}

ul li a{
    text-decoration: none;
    color: #f1f1f1;
    justify-content: center;
}

footer{
    background-color: rgba(82, 252, 167, 0.119);
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 80px;
}

footer ul{
    display: flex;
   list-style-type: none;
   height: 60px;
   font-weight: bold;
   align-items: center;
   margin-left: 20px;   
   justify-content: center;
}
footer ul li{
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.footer-List{
    align-content: center;
    padding: 10px;
    cursor: pointer;
    height: 10px;
    width: 10px;
}
.icons{
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    display: block;
    position: absolute;
}
/* .icons.github{
    height: 32px;
    width: 32px;
    position:absolute;
    display: flex;
    top: 37px;
} */

.followMe{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   top: 30px;
   left: 20px;
    position: absolute;
    font-size: 10px;
    opacity: 50%;
}
#toggle-button{
   height: 30px;
   width: 30px;
   position: absolute;
   top: 13px;
   right: 10px;  
   
}
.menu-ul{
    display: none;
}

.toggle-menu-items{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color:  rgba(1, 28, 15, 0.919);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 50px;
    padding: 0px;
    height: 0px;
    margin-top: 0px;
    right: 30px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .toggle-menu-items{
    padding: 30px;
    margin-top: 20px;
   
  }
  #Name{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   top: 30px;
   right: 20px;
    position: absolute;
    font-size: 10px;
    opacity: 50%;
  }

 
@media only screen and (min-width: 550px) {
   
   
   
    *{
        padding: 0px;
        margin: 0px;
    }
    body{
        background-image: url('webBg.jpg');
        background-size: cover;
        background-size: cover;
    }
    
    nav{
        background-color:  rgba(82, 252, 167, 0.119);
    }
    
    nav ul{
       /* display: flex; */
       list-style-type: none;
       height: 60px;
       font-weight: bold;
       align-items: center;
       margin-left: 20px;
       
    }
    
    .logo{
        display: flex;
        align-items: center;
        height: 40px;
        width: 45px;
    }
    
    .headText{
        color: aliceblue;
        font-size: xx-large;
        margin-left: 10px;
       font-family: monospace;
    }
    
    /* .menu{
       
        width: 100%;
        background-color: rgb(48, 141, 222);
    } */
    .menu-List{
        color: aliceblue;
        align-content: center;
        padding: 10px;
        position: relative;
        cursor: pointer;
        /* display: none; */
        justify-content: center;
        display: flex;
        align-items: center;

    
        
    }
    
    #Menu-Ul{
        position: absolute;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        display: flex;
        align-items: center;
        top: 4px;
        right: 40%;
        
    }
    
    .signup{
        display: flex;
        align-items: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    
    .HelloText{
        font-size: 200px;
        color: rgb(240, 248, 255);
        padding-left: 50px;
    }
    .avinText{
        color: rgb(240, 248, 255);
        font-size: 180px;
        padding-left: 50px;
        font-weight: bolder;
        
    }
    
    footer{
        background-color:  rgba(82, 252, 167, 0.119);
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 80px;
    }
    
    footer ul{
        display: flex;
       list-style-type: none;
       height: 60px;
       font-weight: bold;
       align-items: center;
       margin-left: 20px;   
       justify-content: center;
    }
    footer ul li{
        padding: 20px;
        align-items: center;
        justify-content: center;
    
    }
    
    .footer-List{
        align-content: center;
        padding: 10px;
        cursor: pointer;
        height: 10px;
        width: 10px;
    }
    .icons{
        height: 20px;
        width: 20px;
        align-items: center;
        justify-content: center;
        display: block;
    }
    .icons.github{
        height: 32px;
        width: 32px;
        position:absolute;
        display: flex;
        top: 37px;
    }
    
    .followMe{
        color: aliceblue;
        text-align: center;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       top: 30px;
       left: 20px;
        position: absolute;
        opacity: 50%;
        padding-bottom: 20px;
    }
    .toggle-button-class{
        display: none;
    }
    #Name{
        color: #f1f1f1;
        opacity: 50%;
        bottom: 34px;
        position: absolute;
        right:20px;
    }
    
  }